@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./public/assets/fonts/Manrope-Regular.ttf");
  }

  body {
    font-family: "Manrope";
  }